<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright (C) 2024 Acoustic, L.P. All rights reserved.

NOTICE: This file contains material that is confidential and proprietary to 
Acoustic, L.P. and/or other developers. No license is granted under any intellectual or 
industrial property rights of Acoustic, L.P. except as may be provided in an agreement with 
Acoustic, L.P. Any unauthorized copying or distribution of content from this file is prohibited.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-acoustic-mobile-push-plugin-ios-notification-service" version="3.9.112">
  <name>Acoustic MCE Cordova iOS Notification Service</name>
  <author>Acoustic MCE</author>
  <description>iOS notification service for Acoustic Campaign Mobile Push SDKs</description>
  <keywords>mce</keywords>
  <license>Apache 2.0 License</license>

   <!-- Library settings -->
  <preference name="POD_VERSION" default="3.9.112" />

  <platform name="ios">
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="AcousticMobilePushNotificationDebug"  />
      </pods>
    </podspec>
  </platform>
</plugin>
