<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2024 Acoustic, L.P. All rights reserved.

NOTICE: This file contains material that is confidential and proprietary to
Acoustic, L.P. and/or other developers. No license is granted under any intellectual or
industrial property rights of Acoustic, L.P. except as may be provided in an agreement with
Acoustic, L.P. Any unauthorized copying or distribution of content from this file is prohibited.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-acoustic-mobile-push-plugin-passbook"
    version="3.9.78">
    <name>Passbook action for Acoustic MCE Cordova Plugin</name>
    <author>Acoustic MCE</author>
    <description>Adds the Passbook action for Acoustic MCE Push Services</description>
    <keywords>mce</keywords>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>
    <js-module src="www/js/MCEPassbookPlugin.js" name="MCEPassbookPlugin">
        <clobbers target="MCEPassbookPlugin" />
    </js-module>

    <!-- Library settings -->
    <preference name="POD_VERSION" default="3.9.78" />

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MCEPassbookPlugin" >
                <param name="ios-package" value="MCEPassbookPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/AddToWalletClient.h" />
        <source-file src="src/ios/AddToWalletClient.m" />
        <header-file src="src/ios/AddToWalletPlugin.h" />
        <source-file src="src/ios/AddToWalletPlugin.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AcousticMobilePushDebug"  />
            </pods>
        </podspec>
    </platform>
</plugin>
