<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Copyright (C) 2024 Acoustic, L.P. All rights reserved.

NOTICE: This file contains material that is confidential and proprietary to 
Acoustic, L.P. and/or other developers. No license is granted under any intellectual or 
industrial property rights of Acoustic, L.P. except as may be provided in an agreement with 
Acoustic, L.P. Any unauthorized copying or distribution of content from this file is prohibited.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-acoustic-mobile-push-plugin-inapp" version="3.9.94">
    <name>InApp Action for Acoustic MCE Cordova Plugin</name>
    <author>Acoustic MCE</author>
    <description>InApp Action for Acoustic MCE Push Services</description>
    <keywords>mce</keywords>
    <license>Apache 2.0 License</license>

    <hook type="after_plugin_install" src="scripts/after_plugin_install.js" />

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <js-module src="www/js/MCEInAppPlugin.js" name="MCEInAppPlugin">
        <clobbers target="MCEInAppPlugin" />
    </js-module>
  
    <js-module src="www/js/MCEInAppBanner.js" name="MCEInAppBanner">
        <clobbers target="MCEInAppBanner" />
    </js-module>

    <js-module src="www/js/MCEInAppMedia.js" name="MCEInAppMedia">
        <clobbers target="MCEInAppMedia" />
    </js-module>

    <js-module src="www/js/MCEInAppVideo.js" name="MCEInAppVideo">
        <clobbers target="MCEInAppVideo" />
    </js-module>

    <js-module src="www/js/MCEInAppImage.js" name="MCEInAppImage">
        <clobbers target="MCEInAppImage" />
    </js-module>

    <!-- Library settings -->
    <preference name="POD_VERSION" default="3.9.94" />
  
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MCEInAppPlugin" >
                <param name="ios-package" value="MCEInAppPlugin"/>
            </feature>
        </config-file>    
        <header-file src="src/ios/MCEInAppPlugin.h" />
        <source-file src="src/ios/MCEInAppPlugin.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AcousticMobilePushDebug"  />
            </pods>
        </podspec>
    </platform>
    <platform name="android">     
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="MCEInAppPlugin">
                <param name="android-package" value="co.acoustic.mobile.push.plugin.cordova.inapp.MceCordovaInAppPlugin" />
            </feature>
        </config-file>
   
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/src/co/acoustic/mobile/push/plugin/cordova/inapp" target-dir="java/co/acoustic/mobile/push/plugin/cordova" />
        <source-file src="src/android/src/co/acoustic/mobile/push/sdk/js/inapp" target-dir="java/co/acoustic/mobile/push/sdk/js" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:exported="false" android:name="co.acoustic.mobile.push.sdk.js.inapp.JsonMceBroadcastReceiver">
              <intent-filter>
                <action android:name="co.acoustic.mobile.push.sdk.NOTIFIER" />
              </intent-filter>
            </receiver>
        </config-file>

    </platform>
</plugin>
